/*
cor de fundo -> #F8F7F4
cor para a fonte -> #2C3E50
cor de destaque -> #3498DB
*/

html{
    background: #F8F7F4;
    color: #2C3E50;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    text-indent: 1em;
}
h1{
    font-size: 1.8rem;
    text-align: center;
}
h2{
    font-size: 1.4rem;
    text-align: center;
}
h3{
    font-size: 1.2rem;
    text-align: center;
}
.summary{
    text-align: center;
}
.main p{
    line-height: 1.5;
}
abbr{
    font-variant: small-caps;
}
